.mp__header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #888888;
    flex-direction: row;
    justify-content: space-between;
}

.mp__header__logo {
    flex-grow: 1;
    font-size: 1.25rem;
}

.mp__logo__header {
    font-size: var(--webkit-xxx-large);
}

.mp__logo__footer {
    font-size: small;
}

.mp__header__menu {
    flex-grow: 1;
    font-size: large;
}

.mp__menu__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.mp__item__header {
    font-size: xx-large;
}